/*GENERAL DISPLAY*/
body{
	background-color:black;
	font-family:'arial';
}
#container {
	margin:auto;
	width: 800px;
}

h1{
	color: lightgrey;
	text-align:center;
	padding:10px;
}

/*ADD AREA*/
section#addArea{
	background-color:#588c7e;
	padding: 20px 0px;
	text-align:center;
	border-radius: 40px;
	vertical-align:middle;
}
input[type="text"]{
	width:500px;
	height: 40px;
	border-radius:20px;
	padding-left:20px;
}
button{
	border-radius:20px;
	height:40px;
	width:100px;
	color:black;
	background-color:lightgrey;
	text-align:center;
}
button, input[type=text]{
	outline: none;
	border-style:none;
}
button:hover{
	background-color: lightgreen;
}
button:focus, input[type=text]:focus{
	outline: none;
}

/*DISPLAY AREA*/
ul#taskList{
	list-style-type:none;
	padding: 0px;
}
#taskList li{ 
	height:50px;
	margin:5px;
	padding:5px;
	border-radius:30px;
}
	
#taskList li:hover{
	background-color:darkgrey;
}
#taskList p{
	padding:16px;
	padding-left:30px;
	margin:0px 0px 0px 15px;
	display:inline-block;
	width:500px;
	border-radius:25px;

}
#taskList  li.todo p{
	background-color:lightgrey;
	text-decoration:none;
}
#taskList li.done p{
	background-color:lightgreen;
	text-decoration:line-through;
}
#taskList img.deleteTask{
	float:right;
	background-color:#d9645977;
}
#taskList img.deleteTask:hover{
	background-color:#d96459ff;
}
section, h1{
	margin:0px;
}
#taskList img{
	width:20px;
	padding:15px;
	border-radius:25px;
}
#taskList img.checked, #taskList img.unchecked{
	float:left;
}
#taskList img.unchecked:hover{
	background-color:#f2e394;
}
#taskList img.checked:hover{
	background-color:#f2e394;
}